<div class="card">
 <% @prototypes.each do |proto| %>
  <%= link_to image_tag(proto.image, class: :card__img ), prototype_path(proto.id) if message.image.attached? %>
  <div class="card__body">
    <%= link_to proto.title, prototype_path(proto.id), class: :card__title %>
    <p class="card__summary">
      <%= proto.catch_copy %>
    </p>
    <%= link_to "by #{proto.user.name}", "/users/#{proto.user.id}", class: :card__user %>
  </div>
  <% end %>
</div>